[submodule "chartrie/chartrie-repo"]
	path = chartrie/chartrie-repo
	url = git@github.com:pengkui/chartrie.git
[submodule "hattrie/hat-trie-repo"]
	path = hattrie/hat-trie-repo
	url = git@github.com:pengkui/hat-trie.git
[submodule "datrie/datrie-repo"]
	path = datrie/datrie-repo
	url = git@github.com:pengkui/datrie.git
[submodule "marisatrie/marisa-trie-repo"]
	path = marisatrie/marisa-trie-repo
	url = git@github.com:pengkui/marisa-trie.git
[submodule "pytrie/pytrie-repo"]
	path = pytrie/pytrie-repo
	url = git@github.com:pengkui/pytrie.git
